a {
    margin: 0 2px;
    padding: 0.6em;
}

.page-header {
    text-align:center;
}

.headers {
    border-bottom: 2px solid #edeff0;
}

.interaction {
    border-bottom: 2px solid #edeff0;
}

.billInput, .amountInput, .dueInput {
    margin-top: 1.7em;
}

.actions {
    display: inline-block;
    text-align: right;
    margin: 0 0.5em 0;
    padding: 1.75em 0;
}

@media (max-width: 991px) {
    .actions {
        float: right;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 2em;
    }

    .actions {
        margin: 0 0.5em;
    }
}

