a {
    margin: 0 2px;
    padding: 0.6em;
}

.navbar-title {
    margin-left: 1em;
}

.nav-btn-group {
    margin-right: 4em;
}

.navbar-text {
    width: 4em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-header {
    text-align: center;
}

.headers {
    margin-top: 30px;
    border-bottom: 2px solid #edeff0;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
}

.new-bill-btn, .save-all-btn {
    padding: 10px 12px
}

.new-bill-btn {
    margin-right: 4px;
}

.save-all-btn {
    margin-left: 4px;
}

.interaction {
    border-bottom: 2px solid #edeff0;
}

.billInput, .amountInput, .dueInput {
    margin-top: 1.7em;
}

.container .payed {
    background-color: #719c71;
    opacity: 0.5;
}

.editColor:before {
    content: "*";
    color: #e9240a;
}

.editColor {
    color: #e9240a;
}

.actions {
    display: inline-block;
    text-align: right;
    margin: 0 0.5em 0;
    padding: 1.75em 0;
}

.payedInput {
    margin-top: 14px;
    margin-bottom: 0;
}

.show-768px {
    display: none; 
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .btn-row {
        width: 100%;
    }
    
    .actions {
        float: right;
    }
}

@media (max-width: 768px) {
    .navbar-title {
        margin-left: 0.5em;
    }

    .nav-btn-group {
        margin-right: 0;
        margin-left: 1.5em;        
    }
    
    .container {
        margin: 0 2em;
    }

    .actions {
        margin: 0 0.5em;
    }

    .hide-768px {
        display: none;
    }

    .show-768px {
        display: inline; 
    }

    /* datepicker */
    datepicker, .datepicker, [datepicker],
    ._720kb-datepicker-calendar-header,
    ._720kb-datepicker-calendar-body,
    ._720kb-datepicker-calendar-days-header,
    ._720kb-datepicker-calendar-years-pagination-pages {
        position: relative;
        right: 45px;
    }

    ._720kb-datepicker-calendar {
        min-width: 5px;
        width: 185px;
        margin-left: -20px;
    }

    ._720kb-datepicker-calendar-days-header,        
    ._720kb-datepicker-calendar-header,
    ._720kb-datepicker-calendar-years-pagination-pages {
        width: 105%;                
        margin-left: 46px;
    }

    ._720kb-datepicker-calendar-header-middle, 
    ._720kb-datepicker-calendar-month {
        width: 128px;
    }

    ._720kb-datepicker-calendar-body {
        width: 101%;
        margin-left: 46px;
    }

}

